body {
  background-color: black;
}

#game {
  position: relative;
  background-color: black;


  width: 1000px;
  height: 600px;

  margin: auto auto;

  border: 1px solid white;
}

#cannon {
  position: absolute;

  top: 571px;
  left: 483px;

  width: 34px;
}

#bullet {
  display: inline-block;
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: green;
}
